@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.header {
  background-color: #1F2937;
  color: #E5E7EB;
}

#branding {
  color: #F9FAF8;
  font-size: 24px;
  font-weight: 700;
}

nav {
  display: flex;
  list-style: none; 
  gap: 1.5rem;
}

nav a {
  text-decoration: none;
  color: inherit;
}

nav a:hover {
  text-decoration: none;
  opacity: 0.8;
}
